
{{ form_start(form) }}
    <div class="form-group row">
        <label class="col-sm-3">Nom</label>
        <div class="col-sm-7">
            {{ form_widget(form.nom, {"attr":{"class":"form-control form-control-sm"}}) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3">Prénoms</label>
        <div class="col-sm-7">
            {{ form_widget(form.prenoms, {"attr":{"class":"form-control form-control-sm"}}) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3">Poste</label>
        <div class="col-sm-7">
            {{ form_widget(form.poste, {"attr":{"class":"form-control form-control-sm"}}) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3">Grade</label>
        <div class="col-sm-7">
            {{ form_widget(form.grade, {"attr":{"class":"form-control form-control-sm"}}) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3">Photo</label>
        <div class="col-sm-7">
            {{ form_widget(form.photo, {"attr":{"class":"form-control form-control-sm"}}) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3">Position</label>
        <div class="col-sm-7">
            {{ form_widget(form.position, {"attr":{"class":"form-control form-control-sm"}}) }}
        </div>
    </div>
    {#{{ form_row(form.brochure) }}#}
    <div class="row">
        <h6 class="mt-3 mb-2">Camp / Poste d'affectation</h6>
        <div class="col-sm-12">
            <div class="form-group row">
                <label for="region" class="col-sm-3">Région</label>
                <div class="col-sm-7">
                    <select id="region" name="region" class="form-control form-control-sm">
                        <option>--Choisissez--</option>
                        {% for r in regions %}
                            {% if personne is defined and personne.campAffectation is not null and personne.campAffectation.ville.commune.prefecture.region.code == r.code %}
                                <option value="{{ r.code }}" selected >{{ r.libelle }}</option>
                            {% else %}
                                <option value="{{ r.code }}" >{{ r.libelle }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="prefecture" class="col-sm-3">Préfecture</label>
                <div class="col-sm-7">
                    <select id="prefecture" name="prefecture" class="form-control form-control-sm">
                        <option>--Choisissez--</option>
                        {% for p in prefectures %}
                            {% if personne is defined and personne.campAffectation is not null and personne.campAffectation.ville.commune.prefecture.code == p.code %}
                                <option value="{{ p.code }}" selected>{{ p.libelle }}</option>
                            {% else %}
                                <option value="{{ p.code }}">{{ p.libelle }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="commune" class="col-sm-3">Commune</label>
                <div class="col-sm-7">
                    <select id="commune" name="commune" class="form-control form-control-sm">
                        <option>--Choisissez--</option>
                        {% for c in communes %}
                            {% if personne is defined and personne.campAffectation is not null and personne.campAffectation.ville.commune.code == c.code %}
                                <option value="{{ c.code }}" selected>{{ c.libelle }}</option>
                            {% else %}
                                <option value="{{ c.code }}">{{ c.libelle }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="ville" class="col-sm-3">Ville / Canton</label>
                <div class="col-sm-7">
                    <select id="ville" name="ville" class="form-control form-control-sm">
                        <option>--Choisissez--</option>
                        {% for c in villes %}
                            {% if personne is defined and personne.campAffectation is not null and personne.campAffectation.ville.code == c.code %}
                                <option value="{{ c.code }}" selected>{{ c.libelle }}</option>
                            {% else %}
                                <option value="{{ c.code }}">{{ c.libelle }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="ville" class="col-sm-3">Camp / Poste</label>
                <div class="col-sm-7">
                    {{ form_widget(form.campAffectation, {"attr":{"class":"form-control form-control-sm"}}) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
    <div class="row m-auto">
        <button type="submit" class="btn btn-sm btn-primary m-auto">Soumettre</button>
    </div>
{{ form_end(form) }}
