{% extends 'base.html.twig' %}

{% block title %}Ville index{% endblock %}

{% block body %}
    <h1>Ville index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.code }}</td>
                <td>{{ ville.libelle }}</td>
                <td>
                    <a href="{{ path('ville_show', {'code': ville.code}) }}">show</a>
                    <a href="{{ path('ville_edit', {'code': ville.code}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ville_new') }}">Create new</a>
{% endblock %}
