{{ form_start(form) }}
    <div class="form-group row">
        <label class="col-sm-3">Nom / Libellé</label>
        <div class="col-sm-7">
            {{ form_widget(form.libelle, {"attr":{"class":"form-control form-control-sm"}}) }}
        </div>
    </div>
    <div class="form-group row">
        <label for="region" class="col-sm-3">Région</label>
        <div class="col-sm-7">
            <select id="region" name="region" class="form-control form-control-sm">
                <option>--Choisissez--</option>
                {% for r in regions %}
                    {% if camp is defined and camp.ville is not null and camp.ville.commune.prefecture.region.code == r.code %}
                        <option value="{{ r.code }}" selected >{{ r.libelle }}</option>
                    {% else %}
                        <option value="{{ r.code }}" >{{ r.libelle }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="prefecture" class="col-sm-3">Préfecture</label>
        <div class="col-sm-7">
            <select id="prefecture" name="prefecture" class="form-control form-control-sm">
                <option>--Choisissez--</option>
                {% for p in prefectures %}
                    {% if camp is defined and camp.ville is not null and camp.ville.commune.prefecture.code == p.code %}
                        <option value="{{ p.code }}" selected>{{ p.libelle }}</option>
                    {% else %}
                        <option value="{{ p.code }}">{{ p.libelle }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="commune" class="col-sm-3">Commune</label>
        <div class="col-sm-7">
            <select id="commune" name="commune" class="form-control form-control-sm">
                <option>--Choisissez--</option>
                {% for c in communes %}
                    {% if camp is defined and camp.ville is not null and camp.ville.commune.code == c.code %}
                        <option value="{{ c.code }}" selected>{{ c.libelle }}</option>
                    {% else %}
                        <option value="{{ c.code }}">{{ c.libelle }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3">Ville / Canton</label>
        <div class="col-sm-7">
            {{ form_widget(form.ville, {"attr":{"class":"form-control form-control-sm"}}) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3">Type</label>
        <div class="col-sm-7">
            {{ form_widget(form.typeCamp, {"attr":{"class":"form-control form-control-sm"}}) }}
        </div>
    </div>
    {{ form_widget(form) }}
    <div class="row m-auto">
        <button type="submit" class="btn btn-sm btn-primary m-auto">Soumettre</button>
    </div>
{{ form_end(form) }}
